h1{
    text-align: center;
    margin-top: 100px;
}
.at{
    text-align: center;
    margin-top: 16px;
}
.praesentium{
    text-align: center;
}
.Planting{
    display: inline;
    margin-left: 395px;
}
.tree{
    margin-left: 395px;
    font-size: 24px;
}
.lorem{
    color: rgba(128, 128, 128, 1);
    margin-left: 395px;
}
.impus{
    display: inline;
    margin-left: 395px;
}
.Land Scaping{
    display: inline;
    margin-left: 395px;
}
.web{
    margin-left: 395px;
}
.Land{
    font-size: 24px;
}
.it{
    color: rgba(128, 128, 128, 1);
}
.bow{
    display: inline;
    margin-left: 395px;
}
.rush{
    margin-left: 395px;
    font-size: 24px;
}
.is{
    color: rgba(128, 128, 128, 1);
    margin-left: 395px;
}
.kill{
    display: flex;
    margin-left: -395px;
}
.rasm{
    margin-left: 100px;
    width: 411px;
    height: 406px;
    flex-shrink: 0;
}
.thor{
    margin-top: 25px;
}
.flower{
    margin-left: 95px;
    font-size: 24px;
}
.lore{
    color: rgba(128, 128, 128, 1);
    margin-left: 95px;
}

